// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/clean-blog.scss";

header.masthead {
    margin-bottom: 10px;

    .page-heading {
        padding-top: 150px;
        padding-bottom: 150px;
    }
}

.img-thumbnail {
    max-width: 260px;
}

.gallery-img img {
    width: 100%;
}

footer {
    padding-bottom: 20px;
}

@media (max-width: 576px) {
    .img-thumbnail {
        max-width: 120px;
    }

	.sr-only-xs {
        // @include sr-only;
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border: 0;
	}
}
